<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You Are Viewing a Fake Healthcare Database</title>
    
    <!-- Tailwind CSS via CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-200">

    <header class="bg-blue-600 text-white p-4">
        <h1 class="text-2xl">Flask App for Healthcare Database</h1>
        <nav>
            <ul class="flex space-x-4">
                <li><a href="/" class="hover:underline">Home</a></li>
                <li><a href="/patients" class="hover:underline">Patients</a></li>
                <li><a href="/demographics" class="hover:underline">Physicians</a></li>
                <li><a href="/preferences" class="hover:underline">Patient Labs</a></li>
            </ul>
        </nav>
    </header>

    <main class="p-4">

        {% block content %}
            <p> This healthcare database contains fake patient and physician data</p>
            </br>
            <p>You are viewing this fake data at your own risk!</p>    
        {% endblock %}

    </main>

    <footer class="bg-blue-600 text-white p-4 mt-6">
        <p>© 2023 Fake Healthcare Database. All Rights Reserved but not really.</p>
    </footer>
</body>

</html>
